In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf 
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import os


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

# Define the checkpoint path and file names.
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))


# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\19052\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
print(y)
X = application_df.drop(columns='IS_SUCCESSFUL').values
print(X)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=89)

[1 1 0 ... 0 1 0]
[[1.0000000e+00 5.0000000e+03 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 1.0859000e+05 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 ...
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 5.0000000e+03 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 3.6500179e+07 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 0.0000000e+00]]

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [9]:
# Optimization attempt
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                2340

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 2,561
Trainable params: 2,561
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path, 
    verbose=1, 
    save_weights_only=True,
    save_freq=5)

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7359
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7364
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7370
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7369
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7365
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7368
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7365
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7369
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7371
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7368
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7362
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7374
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7378
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7372
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7367
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7373
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7376
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7374
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7376
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7373
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7382
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7370
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7372
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7382
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7381
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7370
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7379
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7372
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7382
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7379
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7383
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7379
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7381
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7382
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7374
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7385
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7379
268/268 - 0s - loss: 0.5441 - accuracy: 0.7401 - 287ms/epoch - 1ms/step
Loss: 0.5441104769706726, Accuracy: 0.7400583028793335

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5414 - accuracy: 0.7401 - 271ms/epoch - 1ms/step
Loss: 0.5413808822631836, Accuracy: 0.7400583028793335

In [14]:
# Export results 
nn.save("AlphabetSoupCharity_Optimization.h5")